{% load static %}
{% load bootstrap4 %}
{%load plotly_dash%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Анализ потребления газа на мировых рынках</title>
    <link rel="stylesheet" href="{% static 'dash_RSV/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="{% static 'dash_RSV/js/main.js' %}"></script>


</head>
<body>
<main>
<!-- Tab content -->
<aside>
    <ul>

        <!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'futures')"><li><i class="fas fa-chart-line"></i> Фьючерсная кривая рынка</li></button>
  <button class="tablinks" onclick="openCity(event, 'gas_supply')"><li><i class="fas fa-gas-pump"></i> Объем потребления газа в Европе</li></button>

</div>

<div id="futures" class="tabcontent">
    {%plotly_app name="SimpleExample" ratio=0.7%}
</div>

<div id="gas_supply" class="tabcontent">
	{%plotly_app  name="GasApp" ratio=1.1%}
</div>
    </ul>

</aside>
</main>

</body>
</html>
